---
const { label, name, options, required} = Astro.props;
---

<div class="">
  {label && <label for={name} class="block mb-2 text-sm font-medium text-gray-900 pt-5">{label}</label>}
  <select name={name} required={required} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    <option disabled selected value="" class="block mb-2 text-sm font-medium text-gray-200">Select an option</option>
    {options?.map((option:any) => (
          <option value={option}>{option}</option>
        ))}
  </select>
</div>


