---

const { label, name, placeholder, rows = 4, required} = Astro.props;
---

<div class="md:col-span-2 sm:col-span-1 pt-5 pb-3">
  {label && <label for={name} class="block mb-2 text-sm font-medium text-gray-900">{label}</label>}
  <textarea name={name} placeholder={placeholder} rows={rows} required={required} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"></textarea>
</div>


