---

const {type = "text", label, name, placeholder, required} = Astro.props;
---

<div>
  {label && <label for={name} class="block mb-2 text-sm font-medium text-gray-900 pt-5">{label}</label>}
  <input type={type} name={name} placeholder={placeholder} required={required} class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"/>
</div>
