---
import { Icon } from 'astro-icon';

const {category} = Astro.props

const posts = (await Astro.glob('../pages/blog/posts/*.md'))
  .sort(
    (a, b) =>
      new Date(b.frontmatter.createdAt).valueOf() -
      new Date(a.frontmatter.createdAt).valueOf()
  )
  .filter(item => item?.frontmatter?.tags?.includes(category))
---


<div class="mt-20 md:w-3/4 w-full">
  <a 
    class="font-sans text-xl font-bold flex flex-row justify-between w-fit items-center my-5 cursor-pointer hover:italic capitalize"
    href={`/category/${category}`}
  >
  {category}
   <Icon
    width="54px"
	  height="54px"
    class="pt-1"
    name='ic:outline-arrow-right-alt' 
    />
  </a>
  <ul class="grid sm:grid-cols-1 md:grid-cols-2 gap-7">
    {posts.map((post:any)=>
      <li>
        <a href={post.url} class="w-full">
          <picture>
            <img class="m-0 h-48 rounded-2xl object-cover w-full" src={post.frontmatter.heroImage} alt={post.frontmatter.title}/>
          </picture>
          <div class="mt-3 mb-2 text-xl font-bold">{post.frontmatter.title}</div>
          <div class="opacity-70 text-gray-800">{post.frontmatter.desc}</div>
        </a>
      </li>
        )}
  </ul>
</div>