---
import Container from './Container.astro';
import { Icon } from 'astro-icon';


const { footerSocials, footerLists, copyrightName } = Astro.props;
---
<footer class="min-w-max bg-neutral-800 text-slate-300 rounded-t-3xl">
  <Container>
    <div class="pt-5 px-0 pb-4 grid grid-cols-4">
      <div class="col-span-2">
        <div>
          <slot name="logo" />
        </div>
        <ul class="my-4 mx-0 p-0 flex list-none">
          {
            footerSocials.map((social:any) => (
              <li class="mr-2">
                <a
                  href={social.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class=""
                  title={`Open ${social.name} profile`}
                >
                  <Icon name={social.icon} width="24px" height="24px" />
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      {
        footerLists.map((list:any) => (
          <div>
            <p><strong>{list.title}</strong></p>
            <ul class="m-0 p-0 list-none">
              {list.items.map((item:any) => (
                <li class="mb-1">
                  <a class="m-0 hover:opacity-80 text-sm"  href={item.slug}>{item.title}</a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
    <div class="flex flex-col">
      <p class="mr-0 text-sm">Copyright &copy; 2023 {copyrightName}</p>
    </div>

  </Container>
</footer>