---
import Layout from './BaseLayout.astro';
import { nav } from '../config/navigation.js';
import Header from '../components/common/Header.astro';
import Button from '../components/common/Button.astro';
import Footer from '../components/common/Footer.astro';
import { footerLists, footerSocials } from '../config/footer';
import settings from '../config/settings';

const { title } = Astro.props;
---

<Layout {title}>
	<Header rightMenu navData={nav} slot="header">
		<span slot="logo" class="font-bold hover:underline">mgeovanydev</span>
		<Button slot="action-item" href="/blog">Get Started</Button>
	</Header>
	<div id="page">
		<slot />
	</div>
	<Footer
		slot="footer"
		{footerLists}
		{footerSocials}
		copyrightName={settings.name}
	>
		<span slot="logo" class="font-bold hover:underline cursor-pointer">mgeovanydev</span>
	</Footer>
</Layout>
